extends layout

block content
  h1 Sohail 
  p Select your train below to see its current schedule.
  #the quick brown fox jumps over the lazy dog
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      the quick brown fox strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
