extends layout

block content
<<<<<<< HEAD
  h1 Schedule Train!
  p Select your train below to see its current schedule.
=======
  h1 Do not FFind your train!
  p Select youron train below to see its current schedule.
>>>>>>> 25b8e9a (Sunday second commit on indextjade)
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select your train to view its current schedule.
