extends layout

block content
  h1 Saigon Metro Schedule
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
    #branchInfo 
      strong  <span id='branchName'></span>
        strong test branch.    
    #userInfo
      userName: Cloud User
      email: cloud_user@gmail.com
