extends layout

block content
  h1 Welcome to CHS Train Schedule ... Jeooo !! Kya baat hai Rocky !
  p Find your train please ... jaddi pasand karo !
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
