extends layout

block content
  h1 Moh's gonna do a Train Schedule
  p Select your train To ALGERIA below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.
