extends layout

block content
<<<<<<< HEAD
  h1 Find your Train here online!!!
=======
  h1 Find your Train here!!!
>>>>>>> c5ae4629d72caf2680a5e6ccbe40e5a175a6afe1
  p Select your train below to see its current schedule.
  #wrapper
    #trainList
      h2 Trains
      #trains.d-flex.flex-row
    #trainInfo
      strong  <span id='trainName'></span>
      #trainSchedule
        strong Select a train to view its current schedule.